@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #8CC461;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.Score_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 20px;
    border: 2px solid white;
    max-width: 100%;
    width: 900px;
    height: 150px;
    padding: 12px 35px;

}

.header_left {
    width: 26%;
    font-size: 38px;
    font-weight: 600;
    color: white;

}

.header_right{
    display: flex;
    justify-content: right;
    width: 63%;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
   
}

.computer_score, .your_score {
    width: 120px;
    height: 118px;
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    color: #656565;

}

.Comp_score{
    color: black;
    font-size: 41px;
}

.User_score{
    color: black;
    font-size: 41px;

}

.game-con{
    width: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    width: 700px;
    min-height: 5vh;
    font-size: 25px;
    margin: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    max-width: 100%;
    width: 700px;
    min-height: 50vh;
    display: grid;
    place-content: center;
    position: relative;
    margin-top: 15px;
   
}

.con{
    position: absolute;
    /* width: 150px;
    height: 150px; */
    border-radius: 50%;

}

.computer{
    position: absolute;
    border-radius: 50%;
    display: none;

}
.paper-con {
    border: 16px solid #FFA943;
    border-radius: 50%;
    padding: 30px;
    background-color: white;
    box-shadow: 3px 0px 21px 1px #00000033 inset;
    height: 159px;
    width: 173px;
    cursor: pointer;
    left: 6rem;
    top: -3rem;
}

.rock-con {
    border-radius: 50%;
    border: 16px solid #0074B6;
    padding: 30px;
    background-color: white;
    box-shadow: 3px 0px 21px 1px #00000033 inset;
    cursor: pointer;
    left: 26rem;
    top: -3rem;
}

.sci-con {
    border: 16px solid #BD00FF;
    padding: 30px;
    padding-left: 48px;
    height: 159px;
    width: 173px;
    background-color: white;
    box-shadow: 3px 0px 21px 1px #00000033 inset;
    cursor: pointer;
    left: 257px;
    top: 12rem;
}

.user, .machine{
    /* opacity: 0; */
    color: white;
    margin-top: 65px;
    display: none;
    font-size: 45px;
}

/* rules css */
.btn-rule{
        position: absolute;
        bottom: 2rem;
        right: 11rem;
        border: 2px solid #FFFFFF;
        background: #D9D9D9;
        width: 119px;
        height: 40px;
        border-radius: 10px;
        border: 2px;
        font-size: 20px;
        cursor: pointer;
    
    
}

.next{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    border: 2px solid #FFFFFF;
    background: #D9D9D9;
    width: 119px;
    height: 40px;
    border-radius: 10px;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}




.Rule_heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
}


.rule_book {
    position: absolute;
    width: 316px;
    height: 393px;
    margin-left: 106px;
    margin-bottom: 28px;
    border-width: 1px, 1px, 1px, 1px;
    border-style: solid;
    background: #004429;
    color: white;
    padding: 10px 0px 10px 30px;
    border: 7px solid #FFFFFF;
    float: right;
    left: 1000px;
    
}

h2.heading {
    left: 73px;
    /* text-align: center; */
    position: absolute;
    /* padding-bottom: 22px; */
}
.rule_book ul li{
    font-size: 16px;
    margin-top: 20px;
    list-style-type: square;
    /* list-style-type-color: yellow; */
   
}

.rule_book ul li::marker {
    color: yellow;
    height: 80px;
    width: 80px;
  }

  button.cross {
    position: absolute;
    left: 281px;
    top: -22px;
    height: 54px;
    width: 50px;
    border: 5px solid #FFFFFF;
    background: #FF0000;
    border: 5px solid #FFFFFF;
    border-radius: 50%;

}

.list{
    margin-top: 38px;
}


 
.win-con{
    position: relative;
    /* width: 100%;
    height: 100vh; */
    display: grid;
    place-content: center;
    top: -254px;
    cursor: pointer;
    display: none;
    /* background-color: #0074B6; */
}

.win-con::before{
    position: absolute;
    content: " ";
    /* background: black; */
    height: 100%;
    width: 100%;


}

/* .winner, .play_again{
    z-index: 1;    

} */

.winner{
    color: white;
    padding-bottom: 12px;
}

.play_again{

     background: white;
     color: #6B6B6B;
    border: 2px solid #FFFFFF;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px;
    font-size: 20px;

}

.show{
    left: 2rem;
    top: 4rem;
}

.right{
    left: 30rem;
    top: 4rem;
}

.animation{
    box-shadow: 0px 1px 62px 0px #ec3c3c21 outset;


}

.tieUp{
    position: relative;
    display: grid;
    place-content: center;
    top: -254px;
    cursor: pointer;
    display: none;
}

.tieUp::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;


}
.tieUp{
    display: none;
    color: white;
    padding-bottom: 12px;
   
}


.replay{
    background: white;
     color: #6B6B6B;
    border: 2px solid #FFFFFF;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px;
    font-size: 20px;
    margin-top: 20px;

}